#include "resources.h"
IDI_APP_BIG_ICON ICON "appIconBig.ico"
IDI_APP_WIN_ICON ICON "appIconSmall.ico"
IDB_BC_EMPTY_BLACK BITMAP "emptyBlack.bmp"
IDB_BC_EMPTY_WHITE BITMAP "emptyWhite.bmp"
IDB_BC_REG_BLACK BITMAP "regBlack.bmp"
IDB_BC_REG_WHITE BITMAP "regWhite.bmp"
IDB_BC_KING_BLACK BITMAP "kingBlack.bmp"
IDB_BC_KING_WHITE BITMAP "kingWhite.bmp"
IDB_TEST BITMAP "test.bmp"